#app-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: calc(1.5625rem / 2);
}

#logo {
    font-size: 1.75rem;
}

#header-nav {
    display: flex;
    align-items: center;
}

#header-nav > ul {
    display: flex;
    gap: 2.1875rem;
}

#header-nav li {
    list-style-type: none;
}

#header-nav a {
    font-size: 1rem;
    text-decoration-line: none;
    color: var(--secondary-color)
}