#home-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc((0.625rem * 4) * 2) 0;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
}

#hero-heading {
    text-align: center;
}

#hero-para {
    text-align: center;
    font-size: 1.5625rem;
    max-width: 34.375rem;
    line-height: 2.1875rem;
    word-wrap: break-word;
}

#hero-button {
    font-size: 1.125rem;
    padding: 0.625rem calc(0.625rem * 4);
    background-color: var(--secondary-color);
    border: transparent;
}

#hero-button>a {
    color: white;
    text-decoration-line: none;
}

#hero-button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 10%);
}