*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --secondary-color: hsl(0, 0%, 15%);
    --accent-color: #f57224;
}

body {
    min-width: 22.5rem;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
}

body,
.App,
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App {
    padding: 0.9375rem clamp(1rem, 5vw, 10rem);
}

#shop-body>p,
#cart-body>p {
    font-size: calc(32px * (2/3));
}