*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --secondary-color: hsl(0, 0%, 15%);
    --accent-color: #f57224;
}

body {
    min-width: 43.75rem;
    background-color: #f9f9f9;
}

.App {
    padding: 0.9375rem calc(0.9375rem * 5);
}